In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model
df=pd.read_csv("train.csv")

In [3]:
df.head()

,prov_id,area_id,user_id,chnl_type,service_type,product_type,innet_months,total_times,total_flux,total_fee,...,active_days20,active_days21,active_days22,active_days23,game_app_flux,live_app_flux,video_app_flux,city_5g_ratio,city_level,is_5g
0,81,V0513400,5f950e1751acd6a6fa9bf88eb5560c78,7,4,5,29,1.149441,10.864754,93.000,...,4.0,2.0,0.0,0.0,0.0,0.00000,5526.494937,0.000512,7.0,1.0
1,36,V0330200,40015dd14b779d1d3d4e8e2536c6115a,7,4,3,5,0.688337,6.814911,89.912,...,2.0,2.0,0.0,0.0,0.0,0.00000,0.000000,0.000356,3.0,0.0
2,76,V0410100,72f4ddd94488cc2f30bc83b82f55d3eb,7,4,4,104,1.102318,9.492543,62.670,...,0.0,3.0,0.0,0.0,0.0,0.00000,1235.091633,0.000490,3.0,0.0
3,84,V0610100,845983a3e7973b0016c73071f4c70c1c,10,4,5,15,0.122139,5.008418,75.798,...,4.0,4.0,0.0,0.0,0.0,9.13548,1194.355876,0.000328,2.0,0.0
4,85,V0520100,0326fbd12145c5378baf5168a8e9c8fe,7,4,3,21,0.158738,9.745640,54.500,...,20.0,0.0,6.0,1.0,0.0,0.00000,26.783371,0.000830,6.0,0.0

In [4]:
df1=df[['chnl_type','product_type','total_flux','total_fee']]
df1.head()

   chnl_type  product_type  total_flux  total_fee
0          7             5   10.864754     93.000
1          7             3    6.814911     89.912
2          7             4    9.492543     62.670
3         10             5    5.008418     75.798
4          7             3    9.745640     54.500

In [5]:
df1['is_5g']=df['is_5g']
df1.head()

<ipython-input-5-e4b0b0fbdc2b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['is_5g']=df['is_5g']

   chnl_type  product_type  total_flux  total_fee  is_5g
0          7             5   10.864754     93.000    1.0
1          7             3    6.814911     89.912    0.0
2          7             4    9.492543     62.670    0.0
3         10             5    5.008418     75.798    0.0
4          7             3    9.745640     54.500    0.0

In [6]:
df1['is_5g']

0         1.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
699995    0.0
699996    0.0
699997    0.0
699998    0.0
699999    0.0
Name: is_5g, Length: 700000, dtype: float64

In [7]:
df1[df1['is_5g']==1].head()

     chnl_type  product_type  total_flux   total_fee  is_5g
0            7             5   10.864754   93.000000    1.0
5            7             3   10.338090   70.833333    1.0
29           9             4    9.992840  225.783333    1.0
228          7             5    9.322346  104.925000    1.0
258          7             5    8.881344  136.000000    1.0

In [8]:
df1[df1['is_5g']==0].head()

   chnl_type  product_type  total_flux   total_fee  is_5g
1          7             3    6.814911   89.912000    0.0
2          7             4    9.492543   62.670000    0.0
3         10             5    5.008418   75.798000    0.0
4          7             3    9.745640   54.500000    0.0
6          9             3   11.253149  158.733333    0.0

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x=df1.drop(['is_5g'],axis='columns')
x.head()

   chnl_type  product_type  total_flux  total_fee
0          7             5   10.864754     93.000
1          7             3    6.814911     89.912
2          7             4    9.492543     62.670
3         10             5    5.008418     75.798
4          7             3    9.745640     54.500

In [11]:
y=df1['is_5g']
y

0         1.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
699995    0.0
699996    0.0
699997    0.0
699998    0.0
699999    0.0
Name: is_5g, Length: 700000, dtype: float64

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [13]:
len(x_test)

140000

In [14]:
len(x_train)

560000

In [15]:
from sklearn.svm import SVC
model=SVC(C=1)

In [16]:
model.fit(x_train,y_train)

SVC(C=1)

In [17]:
model.score(x_test,y_test)

0.9866857142857143

In [18]:
def SupportVectorMachineCalculation(x,y,size,featval,val):
    from sklearn.model_selection import train_test_split
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=size)
    from sklearn.svm import SVC
    model=SVC(**{featval:val})
    model.fit(x_train,y_train)
    return ["Score: "+str(model.score(x_test,y_test))]

In [19]:
SupportVectorMachineCalculation(x,y,0.2,"C",1)

['Score: 0.9865285714285714']

In [ ]:
SupportVectorMachineCalculation(x,y,0.2,"gamma",100)